## SQL을 사용하기 위한 setup

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%sql sqlite:///Weather.db

## [출석인정용과제]
Regions table 에서 region이 Northeast인 state의 갯수를 되돌리는  SQL 프로그램을 작성하시오

In [32]:
%%sql
Select COUNT(state)
From Regions
where region = 'Northeast'

 * sqlite:///Weather.db
Done.

[(5,)]

## [학점취득용과제 1]

 CityTemps table에서 온도(temp)가 가장 높은 도시와 그 도시의 온도를 출력하시오. 도시의 온도는 '최고온도' 라는 이름으로 출력하시오. 반드시 Not Exists를 사용하시오.

In [16]:
%%sql
Select city,temp as 최고온도
From CityTemps C1
Where Not Exists (Select * From CityTemps C2 Where C1.temp < C2.temp)

 * sqlite:///Weather.db
Done.

[('Key West', 77)]

## [학점취득용과제 2]

위 문제를 Not Exists를 사용하지 말고 프로그램하시오.

In [17]:
%%sql
Select city,max(temp) as 최고온도
From CityTemps

 * sqlite:///Weather.db
Done.

[('Key West', 77)]

## [학점취득용과제 3]

Regions table 에서 coastal이 Y인 state의 갯수, coastal이 N인 state의 갯수, 그리고 두 갯수의 차이의 절대값을 출력하는  1개의 SQL 프로그램을 작성하시오. 반드시 subquery 2개를 From clause에 사용하시오.

In [43]:
%%sql
Select coastalY,coastalN,abs(coastalY-coastalN) as state차이
From (Select region,count(coastal) as coastalY 
From Regions Where coastal = 'Y' )A,
(Select region,count(coastal) as coastalN
From Regions Where coastal = 'N')B

 * sqlite:///Weather.db
Done.

[(19, 24, 5)]