## [출석인정용과제]
property data.csv를 dataframe 형태로 읽어들여 df에 집어 넣고 OWN_OCCUPIED 열에 있는 NULL의 갯수를 출력하시오. 여기서 NULL은 pandas가 인식할 수 있는 Standard missing data를 의미함.

In [4]:
import pandas as pd
df = pd.read_csv("property data.csv")
print(df["OWN_OCCUPIED"].isnull().sum())

1

## [학점취득용과제 1]

1. OWN_OCCUPIED 열을 출력하시오
1. OWN_OCCUPIED 열은 'Y' 또는 'N'값을 가져야 한다. 위에서 찾은 NULL값이 있는 자리를 'Y' 와 'N' 중에서 OWN_OCCUPIED 열에 더많이 나타나는 값으로 impute하고, impute한 결과가 보이도록 OWN_OCCUPIED 열을 출력하시오.  'Y' 와 'N' 중에서 OWN_OCCUPIED 열에 더많이 나타나는 값은 직접 주면 안되고 반드시 python coding을 통해 찾으시오.

In [28]:
print(df['OWN_OCCUPIED'])
print()
ycnt=0
ncnt=0

for row in df['OWN_OCCUPIED']:
    if(row == 'Y'):
        ycnt+=1
    elif(row == 'N'):
        ncnt+=1
        
if(ycnt>ncnt):
    print(df['OWN_OCCUPIED'].fillna('Y'))
else:
     print(df['OWN_OCCUPIED'].fillna('N'))

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

0     Y
1     N
2     N
3    12
4     Y
5     Y
6     Y
7     Y
8     Y
Name: OWN_OCCUPIED, dtype: object

## [학점취득용과제 2]

1. 아래 dataframe에서 'two'열의 NULL값을 그 열의 평균값으로 impute 하고 전체 dataframe을 출력하시오
1. 그 후 NULL 값이 하나라도 있는 열을 모두 제거하고 출력하시오

In [37]:
import numpy as np

df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one','two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print(df)
values = {'two': df.mean()['two']}
df=df.fillna(value=values)
print()
print(df)
print()
print(df.dropna(axis=1))

        one       two     three
a -0.067575 -1.422091 -0.992471
b       NaN       NaN       NaN
c -1.283000 -0.398140  0.360167

        one       two     three
a -0.067575 -1.422091 -0.992471
b       NaN -0.910116       NaN
c -1.283000 -0.398140  0.360167

        two
a -1.422091
b -0.910116
c -0.398140